.new-page {
  height          : 100%;
  background-color: @base-bg-color;
  text-align      : center;
  margin-top      : -16px;

  h1 {
    font-size: 59px;
  }
}

.v-note-wrapper {
  z-index: 1 !important;
}